form {
  width: 40%;
  margin: 10rem auto;
  text-align: center;
}

form input,
form button {
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 0.5rem;
  font-size: 1.2rem;
  outline: none;
}

.failure {
  color: red;
}

.success {
  color: green;
}
