.search-bar-container {
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
}

.search-bar-container h1 {
  display: inline;
  margin: 0px;
  padding: 0px;
}
.search-bar-container .logo {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar-container .logo span {
  display: block;
  height: 1.5rem;
  border-left: 1px solid gray;
  margin: 0px 1.3rem;
}
.search-bar-container .search-input {
  width: 350px;
}

.search-bar-container .search-input input {
  width: 60%;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid #999999;
  border-radius: 5px;
  outline: none;
}

.search-bar-container .user-nav-items {
  width: 350px;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar-container .user-nav-items .compass,
.search-bar-container .user-nav-items .heart,
.search-bar-container .user-nav-items user {
  margin: 0px 1rem;
}
